<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="person" name="person1" class="learn.spring.com.bean.Person">
		<property name="age" value="18"></property>
		<property name="name" value="张三"></property>
		<property name="nickName" value="byXML"></property>
	</bean>
	<bean name="person2" class="learn.spring.com.bean.Person">
		<property name="age" value="19"></property>
		<property name="name" value="李四"></property>
		<property name="nickName" value="byXML"></property>
	</bean>
	<bean name="person3" class="learn.spring.com.bean.Person">
		<property name="age" value="20"></property>
		<property name="name" value="王二"></property>
		<property name="nickName" value="byXML"></property>
	</bean>
</beans>
